services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

  backend:
    build:
      context: ./backend
    container_name: mean_backend
    environment:
      - MONGO_URI=mongodb://mongodb:27017/devops
      - PORT=8080
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: mean_frontend
    ports:
      - "4200:80"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: mean_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped

volumes:
  mongodb_data:
